    .container {
        grid-template-columns: 40% 60%;
    }
    .divcontent1{
        background-color: #2F3E46 ;
    }

    .divcontent1 .text-boxt h1{
        color: beige;
        font-size: 70px;
        position: relative;
    }
    .divcontent1 .text-boxt h1:after{
        content:'';
        height: 4px;
        width: 100%;
        background-color: beige;
        position: absolute;
        top: 90px;
        left: 0;
        border-radius: 5px;
    }
    .divcontent2{
        background-color: #AFCBD6;
    }
    .divcontent2 .text-box{
        position: relative;
    }
    .divcontent2 .text-box div{
        background-color:white;
        border-radius: 10px;
        width: 430px;
        height: 100px;
        box-shadow: 8px 8px 12px -10px darkblue;
        padding: 15px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
    }
    .divcontent2 .text-box div:hover{
        transform: translateY(-4px)
    }
    .divcontent2 .text-box div p{
        margin-top: 0px;
    }
    .divcontent2 .text-box:before{
        content:'';
        height: 4px;
        width: 250px;
        position: absolute;
        top:-30px;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 5px;
    }
    .divcontent2 .text-box:after{
        content:'';
        height: 4px;
        width: 250px;
        position: absolute;
        bottom:-30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 5px;
    }
    span {
        font-weight: bold;
    }